# Ignore node_modules in the root directory
node_modules/

# Ignore node_modules in the web directory
web/node_modules/

# Ignore node_modules in the backend directory
backend/node_modules/

# Ignore package.json and package-lock.json in the root only
/package.json
/package-lock.json

# Ignore .env files
web/.env
backend/.env

# Ignore firebase.js in frontend
#web/src/firebase.js

# Ignore serviceAccount.js in backend
#backend/config/serviceAccount.js

# Ignore notifyDevs.js in backend
#backend/logs/notifyDevs.js