/* CSS Reset */
* {
  margin:0;
  padding: 0;
}


/* Navbar Styling */
.nha-navbar{
  padding: 10px;
  background-color: #3A4055;
  display: flex;
  justify-content: space-between;
  
}

.nha-navbar .nav-a {
  font-family: "Kanit", sans-serif;
}

.nav-brand {
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-rl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding-left: 1rem;
}

.nha-navbar a {
  text-decoration: none;
  color: #9CA6B5;
}

.nha-navbar .nav-rl:hover {
  color: #0ac6c0;
}

.links-flexbox{
  display: flex;
  align-items: center;
}

@media (width <= 900px) {
  .nav-brand{
    font-size: 1.4rem;
  }

  .nav-rl {
    font-size: 0.9rem;
  }
}

.bottom-nav-bar{
  height: 10px;
  background-color: #0ac6c0;
  display: block;
}

/* 
Website Body Styling */
.content {
  background-color: #1A1C23;
  height: 100vh;
}

.test {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Translate component styling */

.translateBody {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Kanit", sans-serif;
  color: #BDC3D0;
  align-items: center; 
  justify-content: center; 
}

.apiStatus {
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

#originLanguage, #desiredLanguage {
  padding: 12px 20px;
  font-size: 16px;
  width: 200px;
  border-radius: 8px;
  margin: 2rem;
}

option {
  text-align: center;
}

select, button {
  font-family: "Kanit", sans-serif;
  background-color: #5469D4;
  color: #BDC3D0;
}

.codeBlocks {
  display: flex;
  align-items: stretch;
}

.inputArea, .outputArea {
  margin: 1rem 3rem;
  resize: none;
  flex: 1;
  width: 32rem;
  height: 32rem;
  padding: 1rem;
  resize: none;
  background-color: #23262F;
  border-radius: 5px;
  border-color:#0ac6c0;
}

.codeout{
  width: 32rem;
  height: 35rem;
  background-color: #23262F;
  border-radius: 5px;
}

.upload{
  padding: 1rem;
}

#icons {
  color:#0ac6c0;
}

.conversionArrow {
  display: flex;
  flex-direction: column;
}

.dropdown {
  display:flex;
  flex-direction: row;
}

.inputArea {
  color:#BDC3D0;
}

button:hover {
  background-color:#0ac6c0;
}