/* CSS Reset */
* {
  margin:0;
  padding: 0;
}


/* Navbar Styling */
.nha-navbar{
  padding: 10px;
  background-color: #3A4055;
  display: flex;
  justify-content: space-between;
  
}

.nha-navbar .nav-a {
  font-family: "Kanit", sans-serif;
}

.nav-brand {
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-rl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding-left: 1rem;
}

.nha-navbar a {
  text-decoration: none;
  color: #9CA6B5;
}

.nha-navbar .nav-rl:hover {
  color: #0ac6c0;
}

.links-flexbox{
  display: flex;
  align-items: center;
}

@media (width <= 900px) {
  .nav-brand{
    font-size: 1.4rem;
  }

  .nav-rl {
    font-size: 0.9rem;
  }
}

.bottom-nav-bar{
  height: 10px;
  background-color: #0ac6c0;
  display: block;
}

/* 
Website Body Styling */
.content {
  background-color: #1A1C23;
  height: 100vh;
}

.test {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Translate component styling */

.translateBody {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  font-family: "Kanit", sans-serif;
  color: #BDC3D0;
  align-items: center; 
  justify-content: center; 
}

.apiStatus {
  margin: 2rem;
  display: flex;
  align-items: center;
}

#originLanguage, #desiredLanguage {
  padding: 12px 20px;
  font-size: 16px;
  width: 200px;
  border-radius: 8px;
  margin: 2rem;
}

option {
  text-align: center;
}

select, button {
  font-family: "Kanit", sans-serif;
  background-color: #5469D4;
  color: #BDC3D0;
}

.codeBlocks {
  display: flex;
  align-items: stretch;
}

.inputArea, .outputArea {
  resize: none;
  flex: 1;
  width: 32rem;
  height: 28rem;
  padding: 1rem;
  resize: none;
  background-color: #23262F;
  border-radius: 5px;
  border-color:#0ac6c0;
}

.codeout{
  width: 32rem;
  height: 35rem;
  background-color: #23262F;
  border-radius: 5px;
}

.upload{
  padding: 1rem;
}

#icons {
  color:#0ac6c0;
}

.conversionArrow {
  display: flex;
  flex-direction: column;
  font-size: larger;
}

.inputArea {
  color:#BDC3D0;
}

#translationButton {
  background-color: transparent;
  border: none;
}

/* Adjust margin to move the origin language dropdown to the left */
#leftDropdownContainer {
  margin-right: 8rem;
}

/* Adjust margin to move the desired language dropdown to the right */
#rightDropdownContainer {
  margin-left: 8rem;
}

.dropdown {
  display: flex;
  justify-content: center; /* Center the dropdowns horizontally */
  align-items: center; /* Center the dropdowns vertically */
  margin-bottom: 2rem; 
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdownContainer label {
  margin-bottom: 0.5rem; /* Adjust the margin between label and dropdown */
}

#originLanguage, #desiredLanguage {
  padding: 12px 20px;
  font-size: 16px;
  width: 200px;
  border-radius: 8px;
  margin-top: 0.5rem; /* Adjust margin to move the dropdowns closer to the labels */
}

.src, .dest {
  position: relative; /* Set position relative to contain absolute positioned button */
  margin: 1rem 3rem 1rem 0; 
}

.uploadButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute; /* Position absolute for alignment */
  top: 0; /* Align to the top */
  right: 0; /* Align to the right */
}

.uploadButton:focus {
  outline: none;
}

