/* CSS Reset */
* {
  margin:0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

.standard {
  color: #BDC3D0;
  font-family: sans-serif;
}

/* Navbar Styling */
.dropdown-nav:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  border-radius: 8px;
  display: none;
  position: absolute;
  right: 1.5rem;
  background-color: #23262F;
  color:#9CA6B5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.dropdown-content a:hover {
  background-color: #31304d;
}

.nha-navbar{
  padding: 10px;
  background-color: #3A4055;
  display: flex;
  justify-content: space-between;
}

.nav-icon {
  width: 2rem;
  height: 2rem;
  padding-top: 0.5rem;
}

.nha-navbar .nav-a {
  font-family: "Kanit", sans-serif;
}

.nav-brand {
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-rl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding-left: 1rem;
}

.nha-navbar a {
  text-decoration: none;
  color: #9CA6B5;
}

.nha-navbar .nav-rl:hover {
  color: #0ac6c0;
}

.links-flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width <= 900px) {
  .nav-brand{
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 0.08rem;
  }

  .nav-rl {
    font-size: 1rem;
  }

  .nav-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.bottom-nav-bar{
  height: 10px;
  background-color: #0ac6c0;
  display: block;
}

/* Home Page Styling */
.title {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 12rem;
  line-height: 0.8;
}

.title2 {
  padding-left: 12rem;
}

.icon-txt {
  font-weight: 500;
}

.subtitle {
  padding-top: 1rem;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 2.3rem;
}

.box {
  padding: 2rem 5rem 2rem 5rem;
  font-size: 2rem;
  
}

.features {
  text-align: left;
  background-color: #31304d;
  font-size: 2.5rem;
}

.features-flexbox {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
}

.instructions {
  text-align: left;
  padding: 1rem 0 0 2rem;
}

.signup {
  text-align: center;
}

.signup-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 35rem;
  width: 64rem;
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px #000, 0 8px 10px -6px #000;
  margin-top: 2.5rem;
  margin-bottom: 1rem;

}

.login-btn {
  padding: 2rem 4rem;
  font-size: 2rem;
  background-color: #5469D4;
  border: 0;
  border-radius: 1rem;
}
.signup-button {
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  border: none;
}

.signup-button:hover, .login-btn:hover {
  background-color: #0ac6c0;
  color: #1A1C23;
  cursor: pointer;
}

#perks {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}

#home-icon {
  color: #0ac6c0;
  padding-bottom: 2rem;
}

.reviews {
  text-align: left;
  background-color: #31304d;
}

#reviewHeader {
  text-align:center;
}

.sectionHeader {
  font-size: 2.5rem;
}

.reviews-flexbox {
  padding-top: 1rem;
  border-color: #5469D4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
}

#review {
  background-color: #1A1C23;
  border: 2pt solid #5469D4;
  border-radius: 1rem;
  padding: 1rem;
  width: 20rem;
  height: 20rem;
  vertical-align: middle;
  font-size: 1.5rem;
}

@media (width <= 1600px) {
  .features {
    font-size: 2.5rem;
  }

  #review {
    width: 15rem;
    height: 15rem;
    font-size: 1rem;
  }

  .signup-image {
    width: 50rem;
    height: 28rem;
  }
}

@media (width <= 1200px) {
  .title {
    font-size: 10rem;
  }
  
  .title2 {
    padding-left: 11rem;
  }
  
  .subtitle {
    font-size: 2rem;
  }

  .box {
    font-size: 1.5rem;
  }

  .features {
    font-size: 2rem;
  }

  .features-flexbox {
    font-size: 0.5rem;
  }

  .signup-button {
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
  }

  #review {
    width: 10rem;
    height: 10rem;
    font-size: 0.75rem;
  }

  .signup-button {
    font-size: 1.4rem;
  }

}

@media (width <= 900px) {
  .title {
    font-size: 7rem;
  }
  
  .title2 {
    padding-left: 8rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
  }

  .box {
    font-size: 1rem;
  }

  .features-flexbox {
    font-size: 0.4rem;
  }

  .signup-button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .signup-image {
    width: 27rem;
    height: 20rem;
  }

  #review {
    width: 7rem;
    height: 7rem;
    font-size: 0.6rem;
  }

  .signup-button {
    font-size: 1.1rem;
  }
}

@media (1230px <= width <= 1400px) {
  .icon-txt {
    font-size: 1.4rem;
    font-weight: 500;
  }
}

@media (860px <= width <= 1230px) {
  .icon-txt {
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  .features-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #perks {
    flex-basis: calc(50% - 20px); 
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    padding: 1rem;
  }
  
  #home-icon {
    margin-bottom: 10px;
    width:12rem;
    height: 10rem;
  }

  .signup-image {
    width: 39rem;
    height: 25rem;
  }
}

@media (width <= 860px) {
  .features-flexbox {
    display: flex;
    flex-direction: column;
  }

  #home-icon {
    width:11rem;
    height: 8rem;
  }

  .icon-txt {
    font-size: 1.5rem;
  }

}

@media (width <= 765px){
  .signup-image{
    width: 22rem;
    height: 18rem;
  }
}

/* Website Body Styling */
.content {
  background-color: #1A1C23;
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  margin: 0; 
  
}

.test {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Translate component styling */
.translateBody {
  display: flex;
  flex-direction: column;
  font-family: "Kanit", sans-serif;
  color: #BDC3D0;
  align-items: center; 
  justify-content: center; 
  padding-bottom: 3rem;
}

.apiStatus {
  margin: 2rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

#originLanguage, #desiredLanguage {
  padding: 12px 20px;
  font-size: 16px;
  width: 200px;
  border-radius: 8px;
  margin: 2rem;
}

option {
  text-align: center;
}

select, button {
  font-family: "Kanit", sans-serif;
  background-color: #5469D4;
  color: #BDC3D0;
}

.codeBlocks {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.inputArea, .outputArea, .feedbackArea {
  resize: none;
  flex: 1;
  width: 36rem;
  height: 24rem;
  padding: 1rem;
  resize: none;
  background-color: #23262F;
  border-radius: 5px;
  border:1pt solid #0ac6c0;
}

.inputArea {
  font-size: 105%;
}

.codeout{
  width: 32rem;
  height: 35rem;
  background-color: #23262F;
  border-radius: 5px;
}

.upload{
  padding: 1rem;
}

#icon:hover {
  color:#0ac6c0;
}

.conversionArrow {
  display: flex;
  flex-direction: column;
  font-size: larger;
  align-items: center;
  font-size: 1rem;
}

.inputArea {
  color:#BDC3D0;
}

/* Adjust margin to move the origin language dropdown to the left */
#leftDropdownContainer {
  margin-right: 8rem;
}

/* Adjust margin to move the desired language dropdown to the right */
#rightDropdownContainer {
  margin-left: 8rem;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; 
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdownContainer label {
  margin-bottom: 0.5rem; /* Adjust the margin between label and dropdown */
  font-size: larger;
}

#originLanguage, #desiredLanguage {
  padding: 12px 20px;
  font-size: 16px;
  width: 200px;
  border-radius: 8px;
  margin-top: 0.5rem; /* Adjust margin to move the dropdowns closer to the labels */
}

.src, .dest {
  margin: 1rem 3rem 1rem 3rem; 
}

#translationButton, .buttonsContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  outline: none;
}

.codeHeading, .outputHeading {
  display:flex;
  justify-content: space-between;
}

.codeHeading {
  margin-bottom: 0.1rem;
}

.codeOutput {
  overflow: auto; /* Enable scrolling */
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar */
}

::-webkit-scrollbar-thumb{
  background-color: #0ac6c0; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-track {
  background-color: #23262F; /* Color of the scrollbar track */
}

@media (width <= 1330px){
  .inputArea, .outputArea {
    width: 400px;
  }
}

@media (width <= 900px){
  .codeBlocks {
      flex-direction: column;
    }
  
    /* Adjust margin to move the origin language dropdown to the left */
    #leftDropdownContainer {
      margin-right: 3rem;
    }
  
    /* Adjust margin to move the desired language dropdown to the right */
    #rightDropdownContainer {
      margin-left: 3rem;
    }

    .inputArea, .outputArea {
      height: 400px;
      justify-content: center;
      align-items: center;
    }
  }
  
@media (width <= 600px){
  .codeBlocks {
      flex-direction: column;
    }

    .dropdown{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    #leftDropdownContainer, #rightDropdownContainer {
      padding: 0;
      margin: 0;
    }

    #rightDropdownContainer {
      margin-top: 2rem;
    }

    .inputArea, .outputArea {
      width: 300px;
      height: 200px;
    }
  }

/* Footer Component Styling */
.footer-box{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: 0;
  background-color: #23262F;
}

.footer-box h3 {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #9CA6B5;
  margin: 0;
  flex: 0 0 auto;
  position: relative;
  bottom: 0; 
  width: 100%; 
}

@media (width <= 900px) {
  .footer-box h3 {
    font-size: 1rem;
  }
}


/* Login Component Styling */
.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.check-box-p {
  color: #9CA6B5;
  font-family: "Kanit", sans-serif;
  margin: 0;
  font-size: 1.2rem;
}

.login-flex-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


input[type="checkbox"]{
  height: 1rem;
  width: 1.5rem;
  background-color: #5469D4;
  margin-right: 1rem;
}

.forgot-password:hover {
  color: #0ac6c0;
}


.login-heading {
  font-family: "Kanit", sans-serif;
  font-size: 8rem;
  color: #9CA6B5;
  margin: 2rem 0 1rem 0;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
}

.email-input, .password-login {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  width: 20rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0;
}

.email-input:focus, .password-login:focus  {
  outline: none; 

}

.login-btn {
 padding: 0.4rem 1.7rem 0.4rem 1.7rem;
 font-size: 1.4rem;
 border-radius: 5px;
 margin-top: 1rem;
}

.login-btn:hover {
  background-color: #0ac6c0;
  color: #1A1C23;
  cursor: pointer;
}

.signup-msg {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.signup-msg p {
  font-family: "Kanit", sans-serif;
  font-size: 1.4rem;
  padding-right: 1rem;
  color: #9CA6B5;
}

.signup-msg a {
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  color: #5469D4;
  font-size: 1.4rem;
}

.signup-msg a:hover {
  color: #9CA6B5;
}

.login-form {
  margin: 0;
  padding: 0;
}

.error-msg {
  color: red;
  font-size: 1.3rem;
  padding: 1rem;
}

@media (width <= 900px) {
  .login-heading{
    font-size: 4rem;
  }
  .email-input, .password-login {
    width: 12rem;
    font-size: 0.8rem;
  }
  .login-btn {
    font-size: 1rem;
  }

  .login-flex-box {
    display: flex;
    flex-direction: column;
  }

  .check-box-p {
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
  }

  .forgot-password{
    padding-right: 1.5rem;
  }
}

/* Sign up page Styling */

.signup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.signup-email-input, .signup-password-input  {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0;
  width: 30rem;
}

.name-input-box {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0 1rem 0;
  width: 13rem;
}

.signup-form {
  margin: 0;
  padding: 0;
}


@media (width <= 930px) {
  .signup-msg p, .signup-msg a {
    font-size: 1rem;

  }

  .login-heading{
    font-size: 4rem;
    text-align: center;
  }

  .name-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .name-input-box,.signup-email-input, .signup-password-input  {
    width: 18rem;
    font-size: 1rem;
  }

  .signup-msg p, .signup-msg a{
    font-size: 1.1rem;
  }
}

/* Feedback component styling */ 
.starClicked, .star, .starHover {
  border: none;
  background: none;
  padding: 0.5rem
}

.starClicked {
  color:#0ac6c0;
}

.star {
  color:#9CA6B5;
}

.starHover {
  color:#076966;

}

.feedback {
  text-align: center;
  margin-top: 1rem;
}

#rateHeader {
  margin: 1.5rem;
}

.feedbackButton, .greyedOutButton {
  padding: 0.5rem 1rem;
  height: 5.5rem;
  width: 12rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  outline: none;
  font-size: 1.5rem;
  text-align: center;
}

.feedbackButton:hover {
  background-color: #0ac6c0;
  color: #1A1C23;
}

.feedbackArea {
  height: 12rem;
  width: 48rem;
  color:#BDC3D0;
  font-size: 110%;
}

.greyedOutButton {
  background-color: #9CA6B5;
  border-color: #000;
  color: #000;
}

@media (width <=900px) {
  .feedbackArea {
    width: 400px;
  }
}

@media (width <=600px) {
  .feedbackArea {
    width: 300px;
  }
}

/* PageNotFound Component Styling */
.not-found-div h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "Kanit", sans-serif;
  padding-top: 2rem;
  color: #9CA6B5;

}

.not-found-div {
  padding:  4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

}

.meme {
  border-radius: 10px;
  width: 43rem;
  height: 25rem;
  margin: 3rem;
  box-shadow: 0 20px 25px -5px #000, 0 8px 10px -6px #000;
}

@media (width <= 1300px ) {
  .not-found-div h1 {
    font-size: 4rem;
  }

  .meme {
    width: 33rem;
    height: 17rem;
  }
}

@media (width <= 900px) {
  .not-found-div h1 {
    font-size: 3rem;
  }

  .meme {
    width: 26rem;
    height: 15rem;
  }
}

/* ChangePassword Component Styling */
.change-password-heading {
  font-family: "Kanit", sans-serif;
  color: #9CA6B5;
  font-size: 2rem;
  margin: 2rem;
}

.change-password-form {
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: center;
  
}

.change-password-form button{
  width: 68%;
  margin: 1rem auto;

}

.change-password-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.password-change {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  width: 20rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0;
}

@media (width <= 900px) {
  .change-password-heading{
    font-size: 1.5rem;
  }
}



/* Help Page Styling */
.help-subtitle {
  padding-top: 0rem;
  margin-top: 4rem;
  font-size: 3rem;
}

#help-bar {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

#help-item {
  display: flex;
  justify-content: space-between;
  margin: 0rem 2rem;
}

#help-active {
  color: #0446c0;
}

#help-item:hover {
  color: #0ac6c0;
  cursor: pointer;
}

#help-icon {
  color: #0ac6c0;
  padding-right: 1rem;
}

.help {
  text-align: center;
}

.help-intro, .help-guides, .help-faq, .help-contact, .help-egg {
  display: none;
  visibility: hidden;
  padding-top: 2rem;
}

.help-guides, .help-faq {
  text-align: left;
}

#question-list li {
  padding-bottom: 2rem;
  list-style-type: none;
}

#question-list h {
  font-size: 2.5rem;
}

#question-list p {
  font-size: 1.5rem;
}

#focus {
  display: block;
  visibility: visible;
}

/* Delete Account Component Styling */
.delete-account-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-heading {
  font-family: "Kanit", sans-serif;
  margin: 1.5rem;
  color: #9CA6B5;
  font-size: 2rem;
}

.delete-form {
  display: flex;
  flex-direction: column;
}

.delete-form button {
  width: 65%;
  margin: 1.3rem auto;
  
}

.bye-message {
  color:#9CA6B5;
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  margin: 2rem 0 0.5rem 0;
  text-align: center;
}

.meme2 {
  border-radius: 10px;
  width: 36rem;
  height: 20rem;
  margin: 1rem;
  box-shadow: 0 20px 25px -5px #000, 0 8px 10px -6px #000;
}


@media (width <= 900px) {
  .delete-heading{
    font-size: 1.4rem;
    font-weight: 550;
    text-align: center;
  }

  .password-change {
    font-size: 1rem;
  }

  .meme2 {
    width: 75%;
    height: 20rem;
  }
}









/* Settings.jsx component Styling */

.error-settings {
  padding-top: 0;
}

.settings-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #9CA6B5;
  font-family: "Kanit", sans-serif;
}

.settings-head-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-top: 1.5rem;
}

.settings-head-p {
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.edit-profile {
  font-size: 1.7rem;
  padding-top: 2rem;
}

.names-box {
  padding-top: 1.5rem;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-form {
  margin: 0 auto;
  width: 30rem;
}

.settings-email-input {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0;
  width: 96.5%;
}

.name-input-box-settings {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0 1rem 0;
  width: 13rem;
}

.option-div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  padding: 1 rem 1rem 2rem 1rem;
  margin: 2rem;
}

.option-div p{
  padding-left: 0.5rem;
}

.options-div {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 0.7rem;
}

.hover-div1:hover {
  color:#0ac6c0;
}

.hover-div2:hover {
  color:#0ac6c0;
}

@media (width <= 900px) {
  .settings-head-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .names-box{
    display: flex;
    flex-direction: column;
  }

  .name-input-box-settings {
    width: 97%;
  }

  .options-div {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .option-div{
    margin: 0;
    font-size: 1.2rem;
    padding: 0.3rem;
  }

  .settings-email-input{
    font-size: 1rem;
  }

  .name-input-box-settings{
    font-size: 1rem;
  }

  .settings-head-p {
    font-size: 1.5rem;

  }

  .settings-icon{
    width: 2rem;
    height: 2rem;
    padding-top: 0.7rem;
  }

  .error-msg {
    font-size: 1.1rem;
  }

  .edit-profile{
    font-size: 1.3rem;
  }



}




/* VerificationMessage.jsx styling */
.verify-email-head{
  font-family: "Kanit", sans-serif;
  color: #9CA6B5;
  font-weight: 500;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0.6rem;
}

.verify-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Forgot password component styling */
.forgot-head {
  color: #9CA6B5;
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.forgot-input {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0;
  width: 30rem;
}

.forgot-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}