/* CSS Reset */
* {
  margin:0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

.standard {
  color: #BDC3D0;
  font-family: sans-serif;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.hover:hover {
  cursor: pointer;
  color: #0ac6c0;
}

#auto-icon {
  color: #0ac6c0;
}

.default-button {
  border: none;
}

.default-textarea, .default-input {
  resize: none;
  flex: 1;
  background-color: #23262F;
  color: #BDC3D0;
  border-radius: 5px;
  border:1pt solid #0ac6c0;
}

.default-textarea:focus, .default-input:focus {
  outline: none; 
}

/*SOMETHING COOL IDK*/
.rainbow {
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}

.rainbow-fast {
  animation: rainbow 0.5s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  100%,0% {
    color: rgb(255,0,0);
  }
  8% {
    color: rgb(255,127,0);
  }
  16% {
    color: rgb(255,255,0);
  }
  25% {
    color: rgb(127,255,0);
  }
  33% {
    color: rgb(0,255,0);
  }
  41% {
    color: rgb(0,255,127);
  }
  50% {
    color: rgb(0,255,255);
  }
  58% {
    color: rgb(0,127,255);
  }
  66% {
    color: rgb(0,0,255);
  }
  75% {
    color: rgb(127,0,255);
  }
  83% {
    color: rgb(255,0,255);
  }
  91% {
    color: rgb(255,0,127);
  }
}

.rainbow-border {
  animation: rainbow-border 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow-border {
  100%,0% {
    border-color: rgb(255,0,0);
  }
  8% {
    border-color: rgb(255,127,0);
  }
  16% {
    border-color: rgb(255,255,0);
  }
  25% {
    border-color: rgb(127,255,0);
  }
  33% {
    border-color: rgb(0,255,0);
  }
  41% {
    border-color: rgb(0,255,127);
  }
  50% {
    border-color: rgb(0,255,255);
  }
  58% {
    border-color: rgb(0,127,255);
  }
  66% {
    border-color: rgb(0,0,255);
  }
  75% {
    border-color: rgb(127,0,255);
  }
  83% {
    border-color: rgb(255,0,255);
  }
  91% {
    border-color: rgb(255,0,127);
  }
}

.warning-flash {
  animation: warning 0.5s linear;
  animation-iteration-count: 4
}

@keyframes warning {
  100%,0% {
    color: rgb(200, 0, 0);
  }
  50% {
    color: rgb(128, 0, 0);
  }
}

.fiery-red {
  animation: fiery-red 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes fiery-red {
  100%,0% {
    color: rgb(255, 0, 0);
  }
  75% {
    color: rgb(255, 123, 0);
  }
  50% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(255, 123, 0);
  }
}

#textArea-div{
  margin:1rem;
}

/*LOADING PAGE*/
#loading-page {
  text-align: center;
  background-color: #1A1C23;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* Navbar Styling */

.nav-name {
  display: inline-block;
}

.dropdown-nav:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  border-radius: 8px;
  display: none;
  position: absolute;
  right: 1.5rem;
  background-color: #23262F;
  color:#9CA6B5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.dropdown-content a:hover {
  background-color: #31304d;
}

.nha-navbar{
  padding: 10px;
  background-color: #3A4055;
  display: flex;
  justify-content: space-between;
}

.nav-icon {
  width: 2.5rem;
  height: 2.5rem;
  /* padding-top: 0.5rem; */
  margin: 0;
}

#navPic {
  border-radius: 50%;
}

.nha-navbar .nav-a {
  font-family: "Kanit", sans-serif;
}

.nav-brand {
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-rl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding-left: 1rem;
}

.nha-navbar a {
  text-decoration: none;
  color: #9CA6B5;
}

.nha-navbar .nav-rl:hover {
  color: #0ac6c0;
}

.links-flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left:0.5rem;
  padding-right:0.5rem;
}

@media (width <= 900px) {
  .nav-brand{
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 0.08rem;
  }

  .nav-rl {
    font-size: 1rem;
  }

  .nav-icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.bottom-nav-bar{
  height: 10px;
  background-color: #0ac6c0;
  display: block;
}

/* Home Page Styling */
.title {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 12rem;
  line-height: 0.8;
}

.title2 {
  padding-left: 12rem;
}

.icon-txt {
  font-weight: 500;
}

.subtitle {
  padding-top: 1rem;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 2.3rem;
  font-style:italic;
}

.box {
  padding: 2rem 5rem 2rem 5rem;
  font-size: 2rem;
}

.features {
  text-align: left;
  background-color: #31304d;
  font-size: 2.5rem;
}

.features-flexbox {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
}

.instructions {
  text-align: left;
  padding: 1rem 0 0 2rem;
}

.signup {
  text-align: center;
}

.role{
  font-style: italic;
  font-size:smaller;
}

.signup-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 64rem;
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px #000, 0 8px 10px -6px #000;
  margin-top: 2.5rem;
  margin-bottom: 1rem;

}

.login-btn {
  padding: 2rem 4rem;
  font-size: 2rem;
  background-color: #5469D4;
  border: 0;
  border-radius: 1rem;
}
#signup-button {
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  border: none;
}

.default-button:hover, .login-btn:hover {
  background-color: #0ac6c0;
  color: #1A1C23;
  cursor: pointer;
}

#perks {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}

.home-icon {
  padding-bottom: 2rem;
}

#devCredits {
  display:flex;
  flex-direction:column;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}

#devsArea{
  display:flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.dev, #devImage{
  padding: 1rem;
}

#reviewContainer {
  background-color: #31304d;
  height:fit-content;
  max-width: 100vw;
}

#reviewContainer, .features {
  border-top:#5469D4 0.25rem solid;
  border-bottom:#5469D4 0.25rem solid;
}

#reviewHeader {
  text-align:center;
  padding:1rem;
}

.sectionHeader {
  font-size: 2.5rem;
}

.reviews-flexbox {
  padding: 2rem;
}

#ratingAverages {
  display:flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

#overallAverageRating, #lesserRatings{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:1rem;
}

#lesserRatings{
  flex-direction:row;
}

#overallAverageRating, #translationAverageRating, #uxAverageRating{
  flex-direction:column;
}

#translationAverageRating, #uxAverageRating, #totalRatingText, .specificRatingCategory {
  padding: 1rem;
}

#totalReviews {
  font-size:25px;
  margin-top:2.5rem;
}

#translationAverageRating, #uxAverageRating{
  display:flex;
  justify-content: center;
  align-items: center;
}

#totalRatingText {
  font-size: 65px;
  font-weight:500;
}

.specificRatingCategory{
  font-size: 30px;
}

.ratingStarStandard {
  color:#0ac6c0;
}

@media(width<=1020px){
  #overallAverageRating{
    flex-direction: column;
  }
}

@media(width<=900px){
  .specificRatingCategory{
    font-size:20px;
  }
}

@media(width<=700px){
  #totalRatingText{font-size:45px;}
  #lesserRatings{
    flex-direction:column;
  }
}

@media(width<=535px){
  #totalRatingText{font-size:40px;}
  #overallStars{
    font-size:smaller;
  }
  #ratingAverages{
    padding:0;
  }
}

.homeCarousel {
  margin:auto;
  height:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content:center;
  align-content: space-between;
}

.carousel.carousel-slider {
  display:flex;
  flex-wrap:wrap;
  align-content: space-between;
}

.review {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom:3rem;
  /* vertical-align: middle; */
  font-size: 1.5rem;
  font-size: 1.5rem;
}

.review p{
  padding:1rem;
  font-size: larger;
}

#reviewUserDetails {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#homereviewerIcon{
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
}

#reviewUserDetails{
  margin:0.5rem;
}
@media(width<=1390px){
  #devImage{
    width:10rem;
    height:10rem;
  }
}

@media(width<=900px){
  .review{
    margin-bottom:1rem;
  }
}

@media(width<=1000px){
  #devImage{
    width:8rem;
    height:8rem;
  }
  .dev, #devImage{
    padding: 0.5rem;
  }
}

@media(width<=800px){
  #devImage{
    width:7rem;
    height:7rem;
  }
  .dev, #devImage{
    padding: 0.5rem;
  }
}

@media(width<=700px){
  #devImage{
    width:225px;
    height:225px;
  }
  #devsArea{
    flex-direction: column;
  }
  .dev{
    font-size:larger;
  }
}

@media(width<=715px){
  .review{
    margin-bottom:0.5rem;
  }

  .reviews-flexbox{
    padding-top:0;
  }

  .reviews{
    height:26rem;
  }
}

@media(width<=560px){

  .reviews{
    height:27rem;
  }
  
  .review{
    margin-bottom:3rem;
    font-size:1rem;
  }

  .reviews-flexbox{
    padding-top:0;
  }

  #reviewHeader {
    font-size: 2rem;
  }
}

@media(width<=530px){
  .reviews{
    height:26rem;
  }
  .review{
    margin-bottom:1rem;
    font-size:1rem;
  }

  .review p{
    padding:0.5rem;
  }

  .reviews-flexbox{
    padding-top:0;
  }
}

@media (width <= 1600px) {
  .features {
    font-size: 2.5rem;
  }
  
  #review {
    width: 15rem;
    height: 15rem;
    font-size: 1rem;
  }

  .signup-image {
    width: 50rem;
    height: auto;
  }
}

@media (width <= 1250px) {
  .title {
    font-size: 10rem;
  }
  
  .title2 {
    padding-left: 11rem;
  }
  
  .subtitle {
    font-size: 2rem;
  }

  .box {
    font-size: 1.5rem;
  }

  .features {
    font-size: 2rem;
  }

  .features-flexbox {
    font-size: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #perks {
    flex-basis: calc(50% - 20px); 
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    padding: 1rem;
  }

  .signup-button {
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
  }

  #review {
    width: 10rem;
    height: 10rem;
    font-size: 0.75rem;
  }

  .review{
    font-size:smaller;
  }

  .signup-button {
    font-size: 1.4rem;
  }

}

@media (width <= 900px) {
  .title {
    font-size: 7rem;
  }
  
  .title2 {
    padding-left: 8rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
  }

  .box {
    font-size: 1rem;
  }

  .signup-button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  #guide-div{
    padding:1rem;
  }

  .signup-image {
    width: 40rem;
    height: auto;
  }

  .instructions{
    font-size:30px;
  }

  #review {
    width: 7rem;
    height: 7rem;
  }

  .review{
    font-size: larger;
  }

  .signup-button {
    font-size: 1.1rem;
  }
}

@media (860px <= width <= 1230px) {
  .features-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #perks {
    flex-basis: calc(50% - 20px); 
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    padding: 1rem;
  }

  .signup-image {
    width: 39rem;
    height: auto;
  }
}

@media (width <= 765px) {
  .features-flexbox {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
  }

  .review{
    font-size: smaller;
  }

  .signup-image{
    width: 25rem;
    height: auto;
  }
}

/* Website Body Styling */
.content {
  background-color: #1A1C23;
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  margin: 0; 
  
}

.test {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Translate component styling */
.translateBody {
  display: flex;
  flex-direction: column;
  font-family: "Kanit", sans-serif;
  color: #BDC3D0;
  align-items: center; 
  justify-content: center; 
  padding-bottom: 3rem;
}

.apiStatus {
  margin: 1rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.apiStatusMessage {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#errorIcon {
  color:red;
  padding-right: 1rem;
}

.translationError, .feedbackError, .emailError{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.3rem;
  border: 2.5px solid red;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.069); /* Red with 50% opacity */
}

#feedbackErrorAndInput {
  margin:1rem;
}

#originLanguage, #desiredLanguage {
  padding: 12px 20px;
  font-size: 16px;
  width: 200px;
  border-radius: 8px;
  margin: 2rem;
}

option {
  text-align: center;
}

select, button {
  font-family: "Kanit", sans-serif;
  background-color: #5469D4;
  color: #BDC3D0;
}

.codeBlocks {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.inputArea, .outputArea, .feedbackArea {
  resize: none;
  flex: 1;
  width: 36rem;
  height: 24rem;
  padding: 1rem;
  resize: none;
  background-color: #23262F;
  border-radius: 5px;
  border:1pt solid #0ac6c0;
}

.inputArea {
  font-size: 105%;
}

.codeout{
  width: 32rem;
  height: 35rem;
  background-color: #23262F;
  border-radius: 5px;
}

.dot1 {
  animation: visibility 3s linear infinite;
 }
 @keyframes visibility {
  0% {
  opacity: 1;
  }
  65% {
  opacity: 1;
  }
  66% {
  opacity: 0;
  }
  100% {
  opacity: 0;
  }
 }

 .dot2 {
  animation: visibility2 3s linear infinite;
 }
 @keyframes visibility2 {
  0% {
   opacity: 0;
  }
  21% {
   opacity: 0;
  }
  22% {
   opacity: 1;
  }
  65% {
   opacity: 1;
  }
  66% {
   opacity: 0;
  }
  100% {
   opacity: 0;
  }
 }

 .dot3 {
  animation: visibility3 3s linear infinite;
 }
 @keyframes visibility3 {
  0% {
   opacity: 0;
  }
  43% {
   opacity: 0;
  }
  44% {
   opacity: 1;
  }
  65% {
   opacity: 1;
  }
  66% {
   opacity: 0;
  }
  100% {
   opacity: 0;
  }
 }

.upload{
  padding: 1rem;
}

#icon:hover {
  color:#0ac6c0;
}

.conversionArrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width:110px;
  height:132px;
}

.inputArea {
  color:#BDC3D0;
}

/* Adjust margin to move the origin language dropdown to the left */
#leftDropdownContainer {
  margin-right: 8rem;
}

/* Adjust margin to move the desired language dropdown to the right */
#rightDropdownContainer {
  margin-left: 8rem;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; 
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdownContainer label {
  margin-bottom: 0.5rem; /* Adjust the margin between label and dropdown */
  font-size: larger;
}

#originLanguage, #desiredLanguage {
  padding: 12px 20px;
  font-size: 16px;
  width: 200px;
  border-radius: 8px;
  margin-top: 0.5rem; /* Adjust margin to move the dropdowns closer to the labels */
}

.src, .dest {
  margin: 1rem 3rem 1rem 3rem; 
}

#translationButton, .buttonsContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  outline: none;
}

.codeHeading, .outputHeading {
  display:flex;
  justify-content: space-between;
}

.codeHeading {
  margin-bottom: 0.1rem;
}

.codeOutput {
  overflow: auto; /* Enable scrolling */
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar */
}

::-webkit-scrollbar-thumb{
  background-color: #0ac6c0; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-track {
  background-color: #23262F; /* Color of the scrollbar track */
}

@media (width <= 1330px){
  .inputArea, .outputArea {
    width: 400px;
  }
}

@media (width <= 900px){
  .codeBlocks {
      flex-direction: column;
    }
  
    /* Adjust margin to move the origin language dropdown to the left */
    #leftDropdownContainer {
      margin-right: 3rem;
    }
  
    /* Adjust margin to move the desired language dropdown to the right */
    #rightDropdownContainer {
      margin-left: 3rem;
    }

    .inputArea, .outputArea {
      height: 400px;
      justify-content: center;
      align-items: center;
    }
  }
  
@media (width <= 600px){
  .codeBlocks {
      flex-direction: column;
    }

    .dropdown{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    #leftDropdownContainer, #rightDropdownContainer {
      padding: 0;
      margin: 0;
    }

    #rightDropdownContainer {
      margin-top: 2rem;
    }

    .inputArea, .outputArea {
      width: 300px;
      height: 200px;
    }
  }

/* Footer Component Styling */
.footer-box{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: 0;
  background-color: #23262F;
}

.footer-box h3 {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #9CA6B5;
  margin: 0;
  flex: 0 0 auto;
  position: relative;
  bottom: 0; 
  width: 100%; 
}

@media (width <= 900px) {
  .footer-box h3 {
    font-size: 1rem;
  }
}

/* Login Component Styling */
.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.check-box-p {
  color: #9CA6B5;
  font-family: "Kanit", sans-serif;
  margin: 0;
  font-size: 1.2rem;
}

.login-flex-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


input[type="checkbox"]{
  height: 1rem;
  width: 1.5rem;
  background-color: #5469D4;
  margin-right: 1rem;
}

.forgot-password:hover {
  color: #0ac6c0;
}

.loginTop{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-heading, .loginHeaderText {
  font-family: "Kanit", sans-serif;
  color: #9CA6B5;
  /* margin: 2rem 0 1rem 0; */
}

.login-heading{
  font-size: 8rem;
}

.loginHeaderText{
  font-size:2.5rem;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
}

.email-input, .password-login {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  width: 20rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0;
}

.email-input:focus, .password-login:focus, #search-input:focus  {
  outline: none; 
}

.login-btn {
 padding: 0.4rem 1.7rem 0.4rem 1.7rem;
 font-size: 1.4rem;
 border-radius: 5px;
 margin-top: 1rem;
}

.login-btn:hover {
  background-color: #0ac6c0;
  color: #1A1C23;
  cursor: pointer;
}

.signup-msg {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.signup-msg p {
  font-family: "Kanit", sans-serif;
  font-size: 1.4rem;
  padding-right: 1rem;
  color: #9CA6B5;
}

.signup-msg a {
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  color: #5469D4;
  font-size: 1.4rem;
}

.signup-msg a:hover {
  color: #9CA6B5;
}

.login-form {
  margin: 0.5rem;
  padding: 0.5rem;
}

.error-msg {
  color: red;
  font-size: 1.3rem;
  padding: 1rem;
}

.div-2fa {
  display: flex;
  flex-direction: column;
 
  align-items: center;
}

.heading-2fa-login{
  color:#9CA6B5;
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
}



@media (width <= 900px) {
  .login-heading{
    font-size: 4rem;
  }
  .email-input, .password-login {
    width: 12rem;
    font-size: 0.8rem;
  }
  .login-btn {
    font-size: 1rem;
  }

  .login-flex-box {
    display: flex;
    flex-direction: column;
  }

  .check-box-p {
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
  }

  .forgot-password{
    padding-right: 1.5rem;
  }
}

/* Sign up page Styling */

.signup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.signup-email-input, .signup-password-input  {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0;
  width: 30rem;
}

.name-input-box {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0 1rem 0;
  width: 13rem;
}

.signup-form {
  margin: 0;
  padding: 0;
}


@media (width <= 930px) {
  .signup-msg p, .signup-msg a {
    font-size: 1rem;

  }

  .login-heading{
    font-size: 4rem;
    text-align: center;
  }

  .name-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .name-input-box,.signup-email-input, .signup-password-input  {
    width: 18rem;
    font-size: 1rem;
  }

  .signup-msg p, .signup-msg a{
    font-size: 1.1rem;
  }
}

/* Feedback component styling */ 
.starClicked, .star, .starHover {
  border: none;
  background: none;
  padding: 0.5rem
}

.starClicked {
  color:#0ac6c0;
}

.star {
  color:#9CA6B5;
}

.starHover {
  color:#076966;

}

.feedback {
  text-align: center;
  margin-top: 1rem;
}

#rateHeader {
  margin: 1.5rem;
}

.feedbackButton, .greyedOutButton {
  padding: 0.5rem 1rem;
  height: 5.5rem;
  width: 12rem;
  /* margin-top: 1rem; */
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  outline: none;
  font-size: 1.5rem;
  text-align: center;
}

.feedbackButton:hover {
  background-color: #0ac6c0;
  color: #1A1C23;
}

.feedbackArea {
  height: 12rem;
  width: 48rem;
  color:#BDC3D0;
  font-size: 110%;
}

.greyedOutButton {
  background-color: #9CA6B5;
  border-color: #000;
  color: #000;
}

@media (width <=900px) {
  .feedbackArea {
    width: 400px;
  }

  /* .feedbackError{
    width:fit-content;
  } */
}

@media (width <=600px) {
  .feedbackArea {
    width: 300px;
  }
}

/* PageNotFound Component Styling */
.not-found-div h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "Kanit", sans-serif;
  padding-top: 2rem;
  color: #9CA6B5;

}

.not-found-div {
  padding:  4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

}

.meme {
  border-radius: 10px;
  width: 43rem;
  height: 25rem;
  margin: 3rem;
  box-shadow: 0 20px 25px -5px #000, 0 8px 10px -6px #000;
}

@media (width <= 1300px ) {
  .not-found-div h1 {
    font-size: 4rem;
  }

  .meme {
    width: 33rem;
    height: 17rem;
  }
}

@media (width <= 900px) {
  .not-found-div h1 {
    font-size: 3rem;
  }

  .meme {
    width: 26rem;
    height: 15rem;
  }
}

/* ChangePassword Component Styling */
.change-password-heading {
  font-family: "Kanit", sans-serif;
  color: #9CA6B5;
  font-size: 2rem;
  margin: 2rem;
}

.change-password-form {
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: center;
  
}

.change-password-form button{
  width: 68%;
  margin: 1rem auto;

}

.change-password-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.password-change {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  width: 20rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0;
}

@media (width <= 900px) {
  .change-password-heading{
    font-size: 1.5rem;
  }
}



/* Help Page Styling */
#contact-header{
  padding:0.5rem;
}

.help {
  padding: 1.5rem 5rem 1.5rem 5rem;
  font-size: 2rem;
  text-align: center;
}

.help-subtitle {
  text-align: center;
  margin-top: 4rem;
}

.help-header, .help-subtitle {
  font-size: 3rem;
}

#help-bar {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

#search-bar {
  max-width: 20rem;
  display: flex;
  background-color: #23262F;
  border: 2pt solid #23262F;
  color: #9CA6B5;
  margin: auto;
  padding: 0.5rem;
  border-radius: 1rem;
}

#search-input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #9CA6B5;
}

.help-search {
  padding: 0rem 0.1rem;
  font-size: 1.2rem;
}

#help-item {
  display: flex;
  justify-content: space-between;
  margin: 0rem 2rem;
}

#help-active {
  color: #0446c0;
  animation: clicked 1s linear;
  animation-iteration-count: infinite
}

@keyframes clicked {
  100%,0% {
    color: #076966;
  }
  50% {
    color: #0ac6c0;
  }
}

#faq-header {
  font-weight: bold;
}

#help-item:hover, #guide-item:hover, #faq-header:hover {
  color: #0ac6c0;
  cursor: pointer;
}

.help-icon {
  padding-right: 1rem;
}

#help-intro, #help-guides, #help-faq, #help-contact, #help-patch-notes, #help-egg {
  padding-top: 1rem;
}

#guide-item, #guide-text, #help-faq, #help-patch-notes {
  text-align: left;
}

#patch-notes-header {
  text-align: center;
}

#guide-title {
  text-align: center;
}

.guide-img {
  --g: 4px;     /* the gap */
  --b: 5px;    /* border thickness*/
  --c: #0ac6c0; /* the color */
  
  
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .3s;
}

.guide-img:hover {
  filter: grayscale(0%);
  --_p: 75%;
}

#question-list{
  margin-top:1rem;
}

#question-list li {
  padding-bottom: 2rem;
  list-style-type: none;
}

#question-list h {
  font-size: 2.5rem;
}

#question-list p {
  font-size: 2rem;
}

#guide-title{
  margin-bottom:1rem;
}

.hide {
  display: none;
  visibility: hidden;
}

.unhide {
  display: block;
  visibility: visible;
}

#contact-form {
  margin: 0 auto;
  max-width: 50%;
}

#contact-name, #contact-email {
  width: 16rem;
  max-width: 50%;
  height: 1rem;
  padding: 0.5rem;
  margin: auto;
}

#contact-text {
  margin: 1rem auto 0 auto;
  width: 36rem;
  max-width: 75%;
  height: 12rem;
  padding: 1rem;
}

.emailError {
  margin: auto;
  width: 36rem;
  max-width: 75%;
}

#contact-button {
  padding: 0.5rem;
  font-size: 75%;
  border-radius: 10px;
}

#getting-started-div{
  padding-bottom:0;
}

@media (width < 1280px) {
  .help {
    padding-top: 1rem;
    font-size: 1.5rem;
  }
  
  .help-header, .help-subtitle {
    font-size: 2.5rem;
  }

  .search-icon {
    font-size: 2rem;
  }
  
  #help-bar {
    font-size: 0.75rem;
  }
  
  #search-bar {
    transform: scale(0.8);
  }

  #question-list h {
    font-size: 2rem;
  }

  #question-list p {
    font-size: 1.5rem;
  }

}

@media (width <= 640px) {
  .help {
    padding-top: 0rem;
    padding: 2rem;
    /* font-size: 1rem; */
  }

  #guide-div{
    padding:0.5rem;
  }

  #instructionHeader, .instructions{
    font-size:20px;
  }

  .signup-image{
    width:25rem;
    height:auto;
  }

  /* #help-bar {
    font-size: 0.5rem;
  } */

  #help-item{
    margin:1rem;
  }

  /* #search-bar {
    transform: scale(0.6);
  } */

  #question-list h {
    font-size: 1rem;
  }

  /* #question-list p {
    font-size: 0.75rem;
  } */
}

@media(width<=650px){
  .emailError{
    font-size: small;
  }

  #contact-form{
    max-width:100%;
  }

  #contact-button {
    padding: 1rem;
    font-size: 100%;
    border-radius: 10px;
  }
}

/* Delete Account Component Styling */
.delete-account-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-heading {
  font-family: "Kanit", sans-serif;
  margin: 1.5rem;
  color: rgb(200, 0, 0);
  font-size: 2rem;
}

.delete-form {
  display: flex;
  flex-direction: column;
}

.delete-form button {
  width: 65%;
  margin: 1.3rem auto;
}

.delete-form button:hover {
  background-color: rgb(200, 0, 0);
}

.bye-message {
  color:#9CA6B5;
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  margin: 2rem 0 0.5rem 0;
  text-align: center;
}

.meme2 {
  border-radius: 10px;
  width: 36rem;
  height: 20rem;
  margin: 1rem;
  box-shadow: 0 20px 25px -5px #000, 0 8px 10px -6px #000;
}


@media (width <= 900px) {
  .delete-heading{
    font-size: 1.4rem;
    font-weight: 550;
    text-align: center;
  }

  .password-change {
    font-size: 1rem;
  }

  .meme2 {
    width: 75%;
    height: 20rem;
  }
}









/* Settings.jsx component Styling */

.error-settings {
  padding-top: 0;
}

.settings-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #9CA6B5;
  font-family: "Kanit", sans-serif;
}

.settings-head-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-top: 1.5rem;
}

.settings-head-p {
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.edit-profile {
  font-size: 1.7rem;
  padding-top: 2rem;
}

.names-box {
  padding-top: 1.5rem;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-form {
  margin: 0 auto;
  width: 30rem;
}

.settings-email-input {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0;
  width: 96.5%;
}

.name-input-box-settings {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0 1rem 0;
  width: 13rem;
}

.option-div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  padding: 1 rem 1rem 2rem 1rem;
  margin: 2rem;
}

.option-div p{
  padding-left: 0.5rem;
}

.options-div {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 0.7rem;
}


.hover-div:hover {
  color:#0ac6c0;
  cursor: pointer;
}

@media (width <= 900px) {
  .settings-head-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .names-box{
    display: flex;
    flex-direction: column;
  }

  .name-input-box-settings {
    width: 97%;
  }

  .options-div {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .option-div{
    margin: 0;
    font-size: 1.2rem;
    padding: 0.3rem;
  }

  .settings-email-input{
    font-size: 1rem;
  }

  .name-input-box-settings{
    font-size: 1rem;
  }

  .settings-head-p {
    font-size: 1.5rem;

  }

  .settings-icon{
    width: 2rem;
    height: 2rem;
    padding-top: 0.7rem;
  }

  .error-msg {
    font-size: 1.1rem;
  }

  .edit-profile{
    font-size: 1.3rem;
  }



}




/* VerificationMessage.jsx styling */
.verify-email-head{
  font-family: "Kanit", sans-serif;
  color: #9CA6B5;
  font-weight: 500;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0.6rem;
}

.verify-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Forgot password component styling */
.forgot-head {
  color: #9CA6B5;
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.forgot-input {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0;
  width: 30rem;
}

.forgot-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyHistory{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:3rem;
  padding:2rem;
}

.historyError{
  display:flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.link{
  text-decoration: none;
}

#gravatarNote, #gravatarLink{
  font-size: 14px;
  font-size: 1rem;
  font-style: italic;
}

#gravatarNote{
  margin-top:1rem;
}

#emptyCredit{
  color:#BDC3D0;
  font-size:14px;
}

.link:hover, #emptyCredit:hover{
  color:#0ac6c0;
  text-decoration:none;
}

.link:visited, #emptyCredit:visited {
  color: #076966;
  text-decoration: underline;
}

#emptyText, #emptyPicture{
  padding:1rem;
}

.sortAndFilter{
  padding:0.5rem;
}

#clearAll{
  /* background-color: transparent; */
  border-radius: 1rem;
  border:none;
  padding: 0.5rem;
  width:fit-content;
}

#clearAll:hover{
  /* background-color:#1A1C23; */
  color:#0ac6c0;
}

/* Ripple effect for clearButton*/
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #1A1C23 radial-gradient(circle, transparent 1%, #1A1C23 1%) center/15000%;
}
.ripple:active {
  background-color: #23262F;
  background-size: 100%;
  transition: background 0s;
}

.historyOptions, .historyTop, .translationHistory {
  border-bottom-width: "1rem";
  border-bottom-style: solid;
  border-bottom-style: solid;
  text-align: center
}

.historyOptions, .historyTop {
  border-bottom-color: #076966;
}

.translationHistory{
  border-bottom-color: #16181e8e;
}

.historyTop{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: larger;
}

.codeHistory{
  display:flex;
  flex-direction:column;
  max-width: 90%;
}

.entrySource, .entryDest{
  padding:0.5rem;
}

.translationHistory:hover{
  background-color:#1A1C23;
}

.translationHistory{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#closeHistory{
  margin:1rem;
  border:none;
  background-color: transparent;
}

#ascdsc, #xIcon:hover, #trashIcon:hover{
  color:#0ac6c0;
  cursor: pointer;
}

.translationTitle, .historyOptions{
  padding:1rem;
}

.historyOptions{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.historyTop{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.historyOptions select {
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  height:fit-content;
  width: fit-content;
  background-color: #5469D4;
  border-width: 0.18rem;
  border-style: solid;
  border-color: transparent;
}

.historyOptions button {
  border: none;
  background: none;
  /* color:#0ac6c0; */
  font-size: larger;
}

.historyOptions select:hover {
  border-color: #BDC3D0;
}

.translationHistory {
  text-align: center;
}

.translationHistory h5 {
  text-decoration: underline;
}

.translationHistory h4 {
  padding-top: 1rem;
}

.translationHistory p {
  word-break: break-word;
  max-height: "50px";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#translateAgain {
  background-color: #5469D4;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.35rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-width: 0.18rem;
  border-style: solid;
  border-color: transparent;
}

#translateAgain:hover {
  border-color: #BDC3D0;
  cursor:pointer;
}

#translateAgain:active {
  background-color: #076966;
}

.historyEntryOptions {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding:0.5rem;
  margin:0.5rem;
}

#translateAgain, #removeEntry{
  padding:0.5rem;
}

#removeEntry {
  border-radius: 1rem;
}

#removeEntry{
  border-radius: 0.5px;
  border:none;
  background-color: transparent;
}

@media(width<=1275px){
  .historyOptions{
    flex-direction: column;
    padding: 0.5rem;
  }
}

@media(width<=1185px){
  .historyOptions{
    flex-direction: column;
    padding: 0.5rem;
  }
  .historyOptions select{
    width:25%;
    text-wrap: pretty;
  }
} 

@media(width<=700px){
  .historyOptions{
    flex-direction: column;
    padding: 0.5rem;
  }
  .sortAndFilter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #closeHistory{
    display:none;
  }
} 

@media(width<=500px){
  .translationTitle{
    font-size: smaller;
  }
}


/* View profile page component Styling */

.profile-info-div{
  color: #9CA6B5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-info-div{
  font-size: 1.5rem;
  font-family: "Kanit", sans-serif;
}

.view-profile-head{
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  padding: 1.5rem;
}

.profileAvatar {
  border-radius: 50%;
}

.gravatarContainer, .profile-info-text,  .profileSegment {
  padding:1rem;
}

.gravatarContainer{
  width:205px;
  height:205px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0ac6c0;
}

.profilePersonalInfo, .profileAccountInfo {
  border: #0ac6c0 solid;
  border-radius: 1rem;
  background-color: #101216be;
}

.profilePersonalInfo p, .profileAccountInfo p {
  padding:0.75rem;
}

.details-view-profile{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.settings-div-view{
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.settings-p-tag-view{
  padding-top: 0.4rem;
  padding-left: 0.5rem;
  font-size: 1.5rem;
}

.settings-div-view:hover {
  color: #0ac6c0;
}

/* Verification code input */
.character {
  border: none;
  font-size: 20px;
  border-radius: 8px;
  color: #BDC3D0;
  background-color: #07080a;
  box-shadow: 0 2px 0 #000;
}

.otp-container, #already-enabled{padding:2rem;}

.close{
  font-size:3rem;
  padding:5px;
}

.close:hover{
  color:#0ac6c0;
  cursor:pointer;
}

.popup-content {
  max-width:100%;
  width:auto !important;
  margin: auto;
  background: #1A1C23 !important;
  border-radius: 10px;
  padding: 5px;
  animation: rainbow-border 2.5s linear !important;
  animation-iteration-count: infinite !important;
}

.popupContent, #verificationHeader, .popup-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popupContent{
  padding:2rem;
}

#tfa-header{
  padding:0.5rem;
}

#verificationHeader {
  font-size: larger;
}

.modal{
  padding: 0 1rem 0 1rem;
  color:#BDC3D0;
}

#otp-button {
  display: inline-block;
  padding: 0.5rem;
  width: 100%; 
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
}


/* Enable2FA component styling */
.div-2fa{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
} 


.buttons-2fa{
  display: flex;
  justify-content: space-around;
  padding: 0;
  align-items: center;
  color:#9CA6B5;
  width: 80%;
  margin: 0 auto;
}

.h2-2fa {
  color:#9CA6B5;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 2rem 2rem 1rem 2rem;
}

.p-2fa {
  color:#9CA6B5;
  font-size: 1.4rem;
  font-weight: 400; 
}

.enable-2fa-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.password-input-2fa, .phoneNumber-input {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  width: 85%;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0;
}


.code-input {
  background-color: #23262F;
  padding: 0.5rem;
  color:#9CA6B5;
  font-size: 1.3rem;
  width: 20rem;
  border: 1pt solid #9CA6B5;
  border-radius: 5px;
  margin: 1rem 0;
}

.content-2fa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.password-2fa{
  width: 50%;
}

.disable-2fa-btn:hover{
  color: #1A1C23;
  background-color: red;
}

.edit-phoneNumber-input{
  width: 45%;
}





